@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif, 'Comic Sans MS';

// colors
$baseColor: #FFFFFF;
$subColor: #000066;
$keyColor: #BB0000;
$fontColor: #4c4c4c;

/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height: 1.6;
  letter-spacing: 0.1em; 
  background-color: $baseColor;
}

a {
  text-decoration: none;
  text-align: center;
}

@media (min-width: 769px) {
  a {
  @include link-colors($keyColor, darken($keyColor, 30%), lighten($keyColor, 10%), darken($keyColor, 20%));
  text-decoration: none;
  text-align: center;
  }
}
/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

//headimage
.headimage {
width: 100%;
height: 250px;
background-image:url(../images/london-titleimage.jpg);
background-position:center center;
background-size:cover;
}

@media (min-width: 769px) {
.headimage {
width: 100%;
height: 500px;
background-image:url(../images/london-titleimage.jpg);
background-position:center center;
background-size:cover;
  }
}

/* Contents
------------------------------------------------------------*/
// Common Styles
section {
  padding: 60px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
  
  h2 {
    @extend .abel;
    font-size: 3.2rem;
    @extend .uppercase;
  }
}

//place
#place {
  background-color: $baseColor;
  
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);
  }
  
  h1{
    font-family: "Comic Sans MS"; 
    font-weight: bold;
    color:$subColor;
    font-size: 4.7rem;
    margin-bottom: 60px;
  }
  
  h2 {
    color: $baseColor;
    margin-bottom: 60px;
    background-color:$keyColor;
  }
  
  p{
    color:$baseColor;
    margin-bottom: 60px;
  }
  
  .flex-box {
  border: solid 1px #990000;
  margin: 10px;
  flex: 1;
  background-color:$subColor;
  padding:0 30px;
  }
}

// desktop
@media (min-width: 769px) {

#place {
    .container {
      @include flex-direction(row);     // スキルボックスを横に並べる
      justify-content: space-between;
    }
    .flex-box {
      margin: 0 10px;                   // 左右にマージン
    }
  }
}

//sight
  
#sight {
  text-align: center;
  margin-top: 60px;
  background-color: $keyColor;
  
  h3 {
    color: $baseColor;
    font-size: 2.9rem;
    margin-bottom: 23px;
  }
 
.button {
    width:180px;
    font-size:21px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding: 8px 0 10px;
    border:1px solid;
    border-radius:10px;
    margin: 0 auto; 
    background-color: $baseColor;
  }
  
}